// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icons
@import '~/@fortawesome/fontawesome-free/scss/fontawesome';
@import '~/@fortawesome/fontawesome-free/scss/solid';

// Datatable
@import '~/datatables.net-bs5/css/dataTables.bootstrap5.min';

// Vue select
@import 'vue-select/dist/vue-select.css';

.card_size {
	width: 18rem;
}

body {
	background-color: rgb(233, 233, 233) !important;
}

bg-nav {
	background-color: #fff159 !important;
}

.nav-logo {
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.4.1/mercadolibre/logo-pt__large_plus.png);
    height: 34px;
    width: 134px;
    display: -webkit-flex;
    display: flex;
    position: static;
    left: 0;
    top: 0;
}